* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial;
}

.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: auto;
}

.repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}

.repos-container .get-repos input {
  width: 100%;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  height: 54px;
}

.repos-container .get-repos input:focus {
  outline: 1px solid #f44336;
}

.get-button {
  width: 140px;
  margin-left: 1rem;
  height: 54px;
  background-color: #f44336;
  color: #fff;
  text-align: center;
  line-height: 54px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px 8px;
}

.show-data {
  background-color: #a0a0a0;
  padding: 20px;
}

.repo-box {
  background: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 10px 0;
}

.repo-box a,
.repo-box span {
  float: right;
  color: #fff;
  font-size: 12px;
  width: 70px;
  height: 100;
  text-align: center;
  padding: 3px;
}

.repo-box a {
    text-decoration: none;
    background: #f44336;
    border-radius:  0 0 10px 0;
}

.repo-box span{
    background: #009688;
    border-radius:  10px 0 0 0;
}