* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Arial;
}

.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: auto;
}

.repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}

.repos-container .get-repos input {
    width: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    height: 54px;
}

.repos-container .get-repos input:focus{
    outline: 1px solid #F44336;
}

.get-button {
    width: 140px;
    margin-left: 1rem;
    height: 54px;
    background-color: #F44336;
    color: #fff;
    text-align: center;
    line-height: 54px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px 8px;
}

.show-data {
    background-color: #a0a0a0;
    padding: 20px;
}